# Ignore secret environment files
.env
*.env

# Ignore virtual environments
.venv/
venv/
ENV/

# Ignore Python cache & temporary audio files
__pycache__/
*.py[cod]
temp_voice.wav
question.mp3
FIR_Draft.pdf
